@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .page-bg-light {
        background-color: #f0f6ff;
    }

    .bg-color-primary {
        background-color: #65a5e0
    }

    :hover.hover-bg-color-primary {
        background-color: #355988
    }

    .light-bg-color {
        background-color: #e5efff;
    }

    :hover.hover-light-bg-color {
        background-color: #e8f0fb;
    }

    .light-card-color {
        background-color: #ebeff7;
    }

    .text-color-primary {
        color: #4d7cba
    }

    :hover.hover-text-color-primary {
        color: #234a7c
    }

    /* no-spinner user to stop input increments for number */
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        appearance: textField;
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}